

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: url("back.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}
.loginbox{
	width: 320px;
	height: 420px;
	background: rgba(226, 222, 222, 0.164);
	color: #fff;
	top: 50%;
	left: 50%;;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	padding: 70px 30px;
}
.avatar{
	width: 100px;
	height: 100px;
	border-right-style:  50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);

}

.loginbox input[type="button"]
{
	border: none;
	outline: none;
	height: 40px;
	background: #5199e4;
	color: #fff	;
	font-size: 18px;
	border-radius: 20px;
}

.loginbox a
{
	border: none;
	outline: none;
    height: 40px;
    text-decoration: none;
	background: #5199e4;
	color: #fff	;
	font-size: 18px;
    border-radius: 20px;
    text-align: center;
}
.loginbox input[type="button"]:hover
{
	cursor: pointer;
	background:  #ff4f6d;
	color: #000;

}
.loginbox a:hover
{
	cursor: pointer;
	background:  #ff4f6d;
	color: #000;

}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario__grupo-input {
	position: relative;
}

.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
    border-radius: 3px;
    margin-bottom: 20px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}

.formulario__input-error {
    font-size: 14px;
    margin-top: 0%;
    display: none;
    color: black;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	margin-top: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 100%;
    background: #000;
    margin-bottom: 15px;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 16px;
	color:black;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

a.register {
	height: 0;
	background: none;
	display: inline-block;
	font-size: 14px;
	margin-left: 25px;
  }

a.forgot {
	background: none;
	display: inline;
	font-size: 14px;
}

a.forgot:hover {
	background: none;
}